*{margin: auto;}
root {display: block;}

body {
    font-family: Verdana;
    font-size: 15px;
}

h1 {
    font-family: Verdana;
    text-align: left;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: normal;    
    color:#424242 !important;
    margin-left: 5px;
    margin-bottom:5px;
}

h2 {
    font-family:Arial;
    text-align: center;
    font-size: 14px;
    color: #58585B;
    font-weight: normal;
    margin-bottom: 3px;
}

h3{
    text-align: left;
    font-family:Arial;
    font-size: 14px;
    font-weight: bold;
    color:black;
}

h4 {
    font-family:Arial;
    text-align: left;
    font-size: 14px;
    color: black;
    font-weight: normal;

}


a:link {
    color:white ;
    text-decoration: none;
}

a:hover {
    color:white;
    text-decoration: none;
}


a:visited {   
    color: white;               
    text-decoration: none;
}
/*common styles*/
.clear{
    clear: both;
}

.left_half{    
    width: 50%;
    float: left;
    text-align: center;
}

.right_half{
    width: 50%;
    float: right;
    text-align: center;
}

/*wrapper*/
.wrapper{
    background-color:white;
    width: 775px;
    padding: 15px;
    /* border:1px solid #BDBDBD;*/
    height:auto;
    padding:25px;
    /* border-radius: 10px;*/
    padding-bottom:50px;
}

.main_content{    
    //border: 1px solid black;
    padding: 5px;
}

.settings_icon{
    float: right;
    margin-top: -30px;
    margin-left: -40px;
    background-image:url(images/design/settings.png);
    height:35px;
    width:35px;
}
.help_icon{
    float: right;
    margin-top: -30px; 
    background-image:url(images/design/help.png);
    height:35px;
    width:35px;
}
.back_icon{   
    float: left;
    background-image:url(images/design/back.png);
    height:35px;
    width:35px;
}
.run_icon{  
    float: left;
    background-image:url(images/design/run2.png);
    background-position: center center;
    background-repeat: no-repeat;
    height:35px;
    width:35px;
    background-color: transparent;
    border: none;
}
/*.run_icon:hover{  
   background-image:url(/run2.png); 
}*/
.run_icon:active{  
    background-image:url(images/design/run.png); 
}

.language_icon{
    float: right;
    margin-top: -30px;
    margin-right: 10px;
}

.popis {
    height: auto;
    width: 700px;
    color: black;
    font-family: Arial;
    font-size: 14px;
    background-color:#c6f1ef;
    border-radius:5px;
    padding:10px;

}

.popis2 {
    height: auto;
    width: 700px;
    color: black;
    font-family: Arial;
    font-size: 14px;
    background-color:#a1cff2;
    border-radius:5px;
    padding:10px;
    border:0px solid #F5DA81;

}



/*table styles*/
table{
    border-collapse: collapse;   
}
table tr td{
    padding-right: 7px;
}
table tr td input[type=text]{
    width: 400px;
}
table tr td input[type=checkbox]{
    margin-top: 5px;
}
#tabs{
    width:710px;
}

th {
    text-align: left;
    padding-right: 10px;
    font-weight:normal !important;   
    font-size: 14px;
    padding-bottom:10px;
}



td {
    width: 50%;
}

.error {
    border: solid 1px red;
    width:700px;
    height:20px;
    background-color:#f0a968 !IMPORTANT;
    padding: 10px;
}







ul {
    list-style-type: none
}


/* style for preview */
.graf{    
    margin-left:60px;
    margin-top:4px;
    width: 220px; 

}

.preview{ height: auto;
          clear: both;
          width: 100%;
          display: block;
          background-color:#c6f1ef;
}
.left_column{   
    float:left;
    width:30%;     
    color: black;
    font-size: 14px;
    background-color:white;    
    padding:10px;
    margin-top:-10px;
    overflow: auto;
}
.right_column{   
    margin:5px;
    float:right;
    width:62%;
    color: black;
    font-size: 14px;
    background-color:white;    
    padding:10px;   
    margin-bottom: 10px;
    margin-top:-10px;
}
.nadpis{  
    background-color: #605D55;
    display:block;
    color:white;
    width:100%;
    text-align: center;
    padding:10px;
    margin-left: -10px;
    margin-top:-10px;
}
.targetDiv{
    padding-left: 10px;
}
/*style for autocomplete*/
.popupItem{
    color:black !important;
}

/*style for new design*/


.container {

    background-color: #605D55;
    display: table;
    width: 250px;
    height: 250px; 
    float:left;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: Verdana;

}

.center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.containerTwoColumn {   
    background-color: #AFD472;
    display: table;
    width: 505px;
    height: 250px; 
    float:right;
    margin-right: 5px;
    margin-bottom: 5px;
}
.containerTwoColumnInside{    
    padding: 20px;
    padding-top: 55px;
}
.footer{
    clear: both;
    width: 760px;
    margin-left: 5px;
    display: table;
    font-family: Myriad Pro;
    font-size: 14px;
    background-color: #AFD472;

}
.footer_center {
    font-family: Myriad Pro;
    font-size:  large;
    color:white;
    background-color: #605D55;
    width: 600px;   
    display: block;
    vertical-align: middle;
    text-align: center;
    padding-top:15px;
    padding-bottom:5px;
    line-height: 30px;
}
.vzor{
    word-spacing: 5px;
    -moz-columns:2;
    -webkit-columns:2;
    columns:2;
    margin-top: 5px;
    margin-left: 35px;
    width:345px;

    -webkit-column-rule: 2px solid white; /* Chrome, Safari, Opera */
    -moz-column-rule: 2px solid white; /* Firefox */
    column-rule: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding-left: 5px;

}
.vzor a{
    color: #605D55 !important;    

}
.link{
    /* width: 635px !important;*/
    border-radius:9px; 
    padding-left: 3px;
    padding-right: 3px;  
    height:25px;
}

::-webkit-input-placeholder {
    color: #605D55;
}

:-moz-placeholder { /* Firefox 18- */
    color: #605D55; 
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #605D55;  
}

:-ms-input-placeholder {  
    color: #605D55; 
}
.smaller{
    font-family: Myriad Pro;
    font-size: small;
}
.containerThreeColumn {
    color: #605D55;
    background-color: #AFD472;
    display: table;
    width: 740px;
    height:230px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding:10px;
    padding-top:20px;
}
.containerThreeColumn ul{
    margin-left: -20px;
}
.containerThreeColumn strong{
    margin-top: 10px;
    margin-left: 10px;
}
.containerThreeColumnBlack {  
    color:white;
    background-color: #605D55;
    display: table;
    width: 730px;
    height:250px;
    margin-right: 5px;
    padding:15px;
}
.containerThreeColumnBlack input[type=text] {  
    border-radius:9px; 
    padding-left: 3px;
    padding-right: 3px;  
    height:25px;
}
.containerThreeColumnBlack input[name=setting3] {  
    width: 315px;
}
.containerThreeColumnBlack input[type=checkbox] {  
    float:right;
}
.containerThreeColumnBlack table {
    margin-top:20px;
    width: 615px;
}
.containerThreeColumnBlack table tr {  
    height:38px;
}
.save_icon{  
    float: right;
    background-image:url(images/design/save.png);
    background-position: center center;
    background-repeat: no-repeat;
    height:36px;
    width:36px;
    background-color: transparent;
    border: none;
    margin-right: 67px;
    margin-top: 5px;
}

.containerHalfBlack {
    color:white;
    background-color: #605D55;
    display: table;
    width: 357px;
    height: 230px; 
    float:left;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: Verdana;
    padding:10px;

}
.containerHalfGreen {
    color:#605D55;
    background-color: #AFD472;
    display: table;
    width: 357px;
    height: 230px; 
    float:left;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: Verdana;
    padding:10px;

}
.outputTable {
    width: 730px;
    background-color: #AFD472; 
    color:#605D55;
    margin-top:5px;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.outputTable table {
    margin-top:10px;
    width: 96%;
}
.outputTable table tr {  
    height:24px;
}
.outputTable table tr td {  
    padding-left: 25px;
}
.outputTable table thead{  
    font-weight: bold;
    color:black;
}
.outputTable table tr:nth-child(even) td a{
    color:#605D55 !important;
    font-size: 13px;

}
.outputTable table tr:nth-child(odd) td a{
    color:#7e5ba6 !important;
    font-size: 13px;
}
.outputHeading {
    width: 700px;
    background-color: white;  
    color:#605D55;
    font-weight: bold;
    font-size: 16px;
    padding:15px;
}
.black{
    color:black;
}
.containerThreeColumnAuthor {
    color: #605D55;
    background-color: #AFD472;
    display: table;
    width: 760px;
    height:250px;
    margin-left: -1px;
}
.containerAuthorLeft{    
    border: 4px solid #605D55;
    margin-right: 5px;
    width:159px;
    height:193px;
    float:left;
    margin-left: 95px;
    margin-top:40px;
    margin-bottom: 40px;
}
.containerAuthorRight{
    border: 4px solid #605D55;
    margin-right: 5px;
    float:left;
    height:153px;
    width:350px;
    background-color: white;
    padding:20px;
    margin-top:40px;
    line-height: 37px;
    color:#605D55;
    font-size: 16px;
}
.containerAuthorRight a{
    color:#605D55;
}
.containerAuthorRight img{
    width: 25px;height: 25px; margin-bottom: -0.25em;
    margin-right: 5px;
}